<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>


  <nav>
    <a href="/">home</a>
    <a href="/users">users</a>
    <a href="/profile">Your profile</a>
  </nav>

  {{!-- body is replaced with the view we declare
  the file that we declare in a res.render("index")
 --}}
  {{{body}}}

</body>

</html>